.recipe-list-title{
    font-weight:bold !important;
}

.list-item{
    border:1px solid #e2e2e2;
    padding:7px;
    margin:4px;
    border-radius:3px;
}

.float-right{
    float:right !important;
    text-align:right !important;
}

h1,h4,h3{
    display:inline !important;
}
